@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  :root {
    --cream-100: #fdfbf7;
    --cream-200: #fef7e9;
    --cream-300: #fff3db;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }

  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}

@theme {
  --animate-shimmer: shimmer 1s infinite;

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }

    ,
    100% {
      background-position: -200% 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cream: #FFF8F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  @apply bg-cream;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  @layer components {

    /* Collaboration Cursor Styles */
    .collaboration-carets__caret {
      @apply border-l border-r border-black -ml-px -mr-px relative pointer-events-none break-normal;
    }

    .collaboration-carets__label {
      @apply rounded-tl rounded-tr rounded-br-none text-black text-xs font-semibold not-italic absolute left-[-1px] top-[-1.4em] px-1 py-0.5 select-none whitespace-nowrap leading-none;
    }
  }
}